/* header containing user profile image and username */
header#profile {
  padding-top: 120px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/az-subtle.png); /* repeating pattern image map */
  background-color: #f59b56;
  color: white;
  font-size: 1.2em;
}

span#last-name {
  font-weight: 100; /* less weight on the last name in profile header */
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  header#profile {
    padding-top: 0;
    height: 450px;
    margin: 8em 3%;
    width: 35%;
  }
}